[user]
    name = Emily Ng
    email = ngemily2@gmail.com
[alias]
    lol = log --graph --max-count=20 --pretty=format:'%C(yellow)%h %C(13)%an %C(cyan)%ad %Creset%s' --date=relative
    dc = diff --cached
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[interactive]
    singlekey = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = less -F -X
[branch]
	autosetuprebase = always
[init]
	defaultBranch = main
