# vim: ft=make
snippet pandoc
OBJ=$0report
SRC=$(OBJ).md
PDF=$(OBJ).pdf
TEX=$(OBJ).tex

all:
	pandoc -o $(PDF) $(SRC)

tex:
	pandoc --standalone -o $(TEX) $(SRC)

preview:
	qlmanage -p $(PDF) &> /dev/null

endsnippet

snippet cpp
CC=clang++
CFLAGS=-std=c++11 -O3

all:
	$(CC) $(CFLAGS) -o main main.cpp

clean:
	rm -rf main

endsnippet
